@model ICollection<MyNamespace.GetSquadsDto>

@foreach (var squad in Model)
{
    <div class="chat" id="@squad.Id">
        <img class="avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(squad.Avatar))" />
        <div class="Name " onclick="window.location='../Squad/Main/@squad.Id.ToString()';">@squad.Name</div>
        <div class="messageTime @squad.Id" onclick="window.location='../Squad/Main/@squad.Id.ToString()';">@squad.MessageTime.ToLocalTime().ToShortTimeString()</div>
        <div class="message @squad.Id" onclick="window.location='../Squad/Main/@squad.Id.ToString()';">@squad.Message</div>
    </div>
}
