@model ICollection<MyNamespace.GetMessagesSquadDto>
@{
    ViewData["Title"] = "MessageChat Page";
    string[] colors = ViewData["Theme"] as string[];
    MyNamespace.GetSquadsDto squad = ViewData["squad"] as MyNamespace.GetSquadsDto;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"/>
    <style>
        html, body {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            background: @colors[15];
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .upper{
            width: 100%;
            height: 156px;
            display: flex;
            justify-content: center;
        }

        .info{
            width: 1600px;
            height: 155px;
            margin: 0 auto;
            margin-left: -80px;
            background: @colors[16];
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            display: flex;
            flex-direction:row;
            justify-content: center;
        }

        #vertical{
            display: flex;
            flex-direction: column;
            margin-left: 620px;
        }

        #Back{
            width: 39px;
            height: 69px;
            margin: 40px auto;
            margin-left: 55px;
            background-image: url("../img/arrowL.svg");
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

        .Avatar {
            height: 90px;
            width: 90px;
            background: @colors[15];
            border-radius: 50%;
            margin-left: 570px;
            margin-top: 30px;
            cursor: pointer;
        }

        .Name{
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 42px;
            margin: 0px auto;
            margin-top: 40px;
            text-align: center;
            color: @colors[1];
            cursor: pointer;
        }

        .Status{
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: @colors[17];
            text-align: center;
        }

        .container{
            width: 1800px;
            margin: 0px auto;
            height: 707px;
            overflow-y: scroll;
        }

        .container > .block {
            margin-top: 60px;
        }

        .container > .block ~ .block {
            margin-top: 0px;
        }

        .block{
            min-height: 125px;
            width: 900px;
            margin: 30px 0;
            margin-right: 0px;
            
        }
        .message{
            min-height: 100px;
            max-width: 800px;
            display: flex;
            justify-content: start;
        }        

        .context {
            display:flex;
            flex-direction: column;
        }

        .avatar{
            height: 81px;
            width: 81px;
            border-radius: 50%;
            margin: 10px 10px ;
        }


        .text{
            min-width: 200px;
            max-width: 680px;
            min-height: 79px;
            background: @colors[18];
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            color: @colors[1];
            word-wrap: break-word;
            padding: 10px;
        }

        .time{
            margin: 0 auto;
            font-size: 18px;
            line-height: 24px;
            color: silver;
        }

        .right{
            margin-left: 1470px;
        }

        .left{
            margin-left: 0px;
        }

        .center{
            margin: 0 auto;
        }
        .chatBox{
            width: 100%;
            height: 110px;
            background: @colors[16];
            margin: 0 auto;
            display: flex;
        }

        .heart{
            height: 70px;
            width: 80px;
            background-image: url("../img/heartL.svg");
            background-repeat: no-repeat;
            background-size: cover;
            margin: 15px;
        }

         #text{
            border: none;
            outline: none;
            background: none;
            min-height: 100px;
            width: 1700px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            color: @colors[1];
            overflow-y: scroll;
            word-wrap: break-word;
        }

        .text:focus{
            border: none;
            outline: none;
        }

        #send{
            height: 110px;
            width: 110px;
            background: black;
        }

        .systemMessage{
           
            height: 32px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            padding: 10px;
            color: grey;
            text-align: center;
        }

        .userName{
            min-width: 200px;
            max-width: 680px;
            height: 32px;
            background: @colors[18];
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            color: purple;
            word-wrap: break-word;
            padding: 10px;
            text-align:center;
        }
    </style>
    <title>@ViewData["Title"]</title>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body onselectstart="return false">
    
    <div class = "upper">
        <div id="Back" onclick="window.location='/../Menu/Chats'" type="image/svg+xml"></div>
        <div class= "info">
            
            <span id="vertical">
                <span class="Name">@squad.Name</span>
                
            </span>
            <img class="Avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(squad.Avatar))" />

        </div>
    </div>
        <div class="container">
           @foreach(var item in Model){

            if(item.SystemMessage == true){
                
                    <div class="center">
                        <div class="systemMessage">@item.Message</div>
                    </div>
                
            }

            else if(item.UserFromId != LimqClient.Settings.SettingArray.MyUser.Id){
                <div class="block">
                    <div class="message right">
                        <div class="context">
                            <div style=" background: @colors[16]; " class="userName"> @item.UserName </div>
                             <div style=" background: @colors[16]; text-align:right;" class="text">@item.Message</div>

                        </div>
                        <div class="context">
                            <img style="margin-right: 10px; background: @colors[20];" class="avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Avatar))" />
                            <div class="time">@item.MessageTime.ToLocalTime().ToShortTimeString()</div>
                    </div>
                    
                </div>
                </div>
            }
            else{
                <div class="block">
                    <div class="message left">
                        <div class="context">
                            <img style="margin-left: 10px; background: @colors[19];" class="avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Avatar))" />
                            <div class="time">@item.MessageTime.ToLocalTime().ToShortTimeString()</div>
                        </div>
                        <div class="context">
                            <div style=" background: @colors[18];" class="userName"> @item.UserName </div>
                            <div style="text-align:left;" class="text">@item.Message</div>
                        </div>
                    </div>
                </div>
            }
            }

        </div>
    
      <div class="chatBox">
          <div class="heart"></div>
          <textarea type="text" maxlength="255" id="text"></textarea>
          <input type="submit" id="send" />
      </div>
      

    <script>
        let container = document.getElementsByClassName("container")[0];
        container.scrollTop = container.scrollHeight;
        "use strict";
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7112/SquadHub")
            .build();
        connection.start().then(() => {
            connection.invoke('JoinGroup', '@squad.Id.ToString()');
        });
            

        connection.on("SendMessage", (name, image,  message, time) => {

            if (name != '@LimqClient.Settings.SettingArray.MyUser.UserName.ToString()') {
            var structure = [
                '<div class="block" >',
                    '<div class="message right" >',
                        '<div class="context">',
                            '<div style=" background: @colors[16]; " class= "userName" >', name ,'</div>',
                            '<div style = " background: @colors[16]; text-align:right;" class= "text" >', message, '</div>',
                        '</div>',
                        '<div class="context" >',
                            '<img style="margin-right: 10px; background: @colors[20];" class= "avatar" src = "data:image/jpeg;base64,', image , ' " />',
                            '<div class="time" >', time ,'</div>',
                        '</div>',
                
                    '</div>',
                '</div>'
            ];

            $(structure.join('')).appendTo(".container");
            
            container.scrollTop = container.scrollHeight;
            }
        });
        
        
        document.getElementById("send").addEventListener('click', () =>{

            let idAdd = '@squad.Id.ToString()';
            let messageAdd = document.getElementById("text").value;
            $.ajax({
                url: '@Url.Action("CreateMessage","Squad")',
                data: { id: idAdd, message: messageAdd }
            });
        
           
            
        
            var structure = [
                '<div class="block" >',
                    '<div class="message left" >',
                        '<div class="context" >',
                            '<img style="margin-left: 10px; background: @colors[19];" class= "avatar" src = "data:image/jpeg;base64,@(Convert.ToBase64String(LimqClient.Settings.SettingArray.MyUser.Avatar))" />',
                            '<div class="time" > @DateTime.Now.ToShortTimeString()</div>',
                        '</div>',
                        '<div class="context">',
                            '<div style=" background: @colors[18];" class= "userName" > @LimqClient.Settings.SettingArray.MyUser.UserName </div>',
                            '<div style = "text-align:left;" class= "text" >', messageAdd, '</div>',
                        '</div>',
                    '</div>',
                '</div>'
            ];

            $(structure.join('')).appendTo(".container");

            container.scrollTop = container.scrollHeight;

            connection.invoke('SendMessageToSquad', '@LimqClient.Settings.SettingArray.MyUser.Id.ToString()', idAdd, messageAdd, "@DateTime.UtcNow.ToString()");
            connection.invoke('SendInSquad', idAdd, messageAdd, "@DateTime.UtcNow.ToString()");

            document.getElementById("text").value = "";
        });
       
        
    </script>


</body>

</html>




