@model ICollection<MyNamespace.GetSquadsDto>
@{
    ViewData["Title"] = "Squad Page";
    string[] colors = ViewData["Theme"] as string[];
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <style>
        html, body {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            background: @colors[13];
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .container {
            height: 90px;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .container2 {
            width: 1756px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .butt {
            heihgt: 137px;
            width: 250px;
            background: @colors[7];
            border-radius: 20px;
            margin: 0 auto;
            cursor: pointer;
        }

        .chats {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            height: 125px;
            background: @colors[12];
        }

        .field {
            box-sizing: border-box;
            width: 100%;
            height: 1080px;
            max-height: max-content;
            margin: 0 auto;
            margin-top: 30px;
            background: @colors[12];
            border-top-left-radius: 78px;
            border-top-right-radius: 78px;
        }

        .image {
            height: 120px;
            width: 150px;
            margin: 0 auto;
            margin-top: -30px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #chats {
            background-image: url("../img/@colors[21]");
        }

        #group {
            margin-top: -10px;
            height: 80px;
            width: 110px;
            background-image: url("../img/@colors[27]");
        }

        #settings {
            margin-top: -5px;
            height: 80px;
            width: 100px;
            background-image: url("../img/@colors[23]");
        }

        .lock {
            margin: 0 auto;
            margin-left: 32px;
            margin-top: -12px;
            height: 115px;
            width: 145px;
            background-image: url("../img/@colors[24]");
            background: none;
            cursor: pointer;
        }

        .add {
            margin: 0 auto;
            margin-right: 63px;
            margin-top: 7px;
            height: 110px;
            width: 100px;
            background-image: url("../img/@colors[25]");
            cursor: pointer;
        }

        .squadSearch {
            background: none;
            border: none;
            height: 61px;
            width: 1151px;
            margin-top: 29px;
            box-sizing: border-box;
            background: @colors[14];
            border-radius: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 42px;
            color: @colors[1];
            text-align: center;
        }

            .chatSearch:focus {
                outline: none;
            }

        .chat {
            width: 1756px;
            height: 116px;
            margin: 0 auto;
            margin-top: 30px;
            background: @colors[14];
            border-radius: 20px;
            box-sizing: border-box;
            border: none;
        }

        .avatar {
            width: 80px;
            height: 80px;
            background: @colors[12];
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            margin: 20px auto;
            margin-left: 20px;
        }

        .Name {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 42px;
            margin: auto;
            margin-top: -110px;
            margin-left: 150px;
            color: @colors[1];
            cursor: pointer;
        }

        .messageTime {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: @colors[1];
            margin: auto;
            margin-top: -35px;
            margin-left: 1650px;
            cursor: pointer;
        }

        .message {
            width: 1506px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: @colors[1];
            margin: auto;
            margin-top: 15px;
            margin-left: 150px;
            overflow: hidden;
            cursor: pointer;
        }

        .createSquad {
            display: none;
            position: absolute;
            width: 920px;
            height: 650px;
            left: calc(50% - 460px);
            top: 118px;
            background: @colors[15];
            box-shadow: 0px 0px 5px 2px @colors[2];
            border-radius: 30px;
            overflow-y: scroll;
        }

        .back {
            width: 34px;
            height: 60px;
            margin: 40px;
            margin-left: 55px;
            background-image: url("../img/@colors[29]");
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

        .text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 61px;
            color: @colors[17];
            margin: 40px auto;
            margin-left: 220px;
        }

        .info {
            margin: auto;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }

        .avatar2 {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin-left: 60px;
        }

        input {
            outline: none;
            border: none;
            background: none;
        }

            input:focus {
                outline: none;
            }

            input[type="file"] {
                display: none;
            }

        .custom-file {
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #B28264;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: 40px;
            cursor: pointer;
        }

        .bottomText {
            font-family: 'Inter';
            width: 300px;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: #B28264;
            margin: 0 auto;
            margin-top: 20px;
            border-bottom: 3px solid #B28264;
        }

        .personSearch {
            background: none;
            border: none;
            width: 450px;
            height: 60px;
            margin-top: 10px;
            margin-left: 60px;
            background: rgba(178, 130, 100, 0.4);
            border-radius: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
        }

        .personSearch:focus {
            outline: none;
        }

        .rewrite {
            width: 400px;
        }

        .clickable{
            width: 400px;
            margin-left: 20px;
        }

        .fullName {
            width: 400px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: @colors[1];
            margin-top: 15px;
            margin-left: 150px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
        }

        #submitBtn {
            display: none;
            border: none;
            width: 219px;
            height: 50px;
            margin: 0 auto;
            margin-top: 50px;
            background: @colors[7];
            border-radius: 20px;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px 2px @colors[2];
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;
            color: @colors[11];
            cursor: pointer;
            transition: box-shadow linear .2s;
        }

        #submitBtn:hover {
            box-shadow: 0px 4px 4px 4px @colors[2];
        }

        #submitBtn:active {
            box-shadow: inset 0px 10px 20px 2px @colors[2];
        }

    </style>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/ChatsAdaptive.css" />
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body onselectstart="return false">
    

    <div class="main">
        <div class="container">
            <div class="butt" onclick="window.location='./Chats'"><div class="image" id="chats"></div></div>
            <div class="butt chats"><div class="image" id="group"></div></div>
            <div class="butt" onclick="window.location='./Settings'"><div class="image" id="settings"></div></div>
        </div>

        <div class="field">
            <div class="container">
                <div class="image lock"></div>
                <input id="squadSearch" class="squadSearch"></input>
                <div id="add" class="image add"></div>
            </div>

            <div id="squadResult" class="container2">
            

            </div>
        </div>
    </div>
    <div class="createSquad">
        <div style="display: flex;">
            <div class="back"></div>
            <div class="text">New Group</div>
        </div>

        <div class="info">
            <div class="avatar2">
                <label class="custom-file">
                    <img style="background-size: cover;  width: 150px; height: 150px;  border-radius: 50%;" src="data:image/jpeg;base64,@(Convert.ToBase64String(LimqClient.Settings.SettingArray.MyUser.Avatar))" />
                    <input id="avatar" type="file" onchange="ImageFile()" />

                </label>
                <input type="text" min="3" maxlength="20" placeholder="Name of the group" class="bottomText"> </input>

                <input id="submitBtn" type="submit" value="Create" />

            </div>

            <script defer>
                let arr = [];
                let submitBtn = document.getElementById("submitBtn");
            </script>

            <div style="display: flex; flex-direction: column;">
                <input id="personSearch" type="text" maxlength="20" class="personSearch" />

                <div id="rewrite" class="container2 rewrite">

                </div>
            </div>
        </div>

        </div>

    


    <script>
        "use strict";

        let add = document.getElementById("add");
        let squadSearch = document.getElementById("squadSearch");
        let personSearch = document.getElementById("personSearch");

        let back = document.getElementsByClassName("back")[0];
        let main = document.getElementsByClassName("main")[0];
        let createSquad = document.getElementsByClassName("createSquad")[0];
        let squadName = document.getElementsByClassName("bottomText")[0];

        $.ajax({
            url: '@Url.Action("GetSquads","Squad")',
            success: function (data) {
                $("#squadResult").html(data);
            }
        });

        add.addEventListener("click", () => {
            createSquad.style.display = "block";
            main.style.pointerEvents = "none";
            main.style.filter = "blur(4px)";
        });

        back.addEventListener("click", () => {
            createSquad.style.display = "none";
            main.style.pointerEvents = "auto";
            main.style.filter = "blur(0px)";
        });

        personSearch.addEventListener("keydown", () => {
            if (personSearch.value.length >= 2) {

                $.ajax({
                    url: '@Url.Action("FindUser", "Squad")',
                    data: { name: personSearch.value },
                    success: function (data) {
                        $("#rewrite").html(data);
                    }
                });
            }
        });

        squadSearch.addEventListener("keydown", () => {
            if (squadSearch.value.length >= 2) {

                $.ajax({
                    url: '@Url.Action("GetSquadsWithName","Squad")',
                    data: { name: squadSearch.value },
                    success: function (data) {
                        $("#squadResult").html(data);
                    }
                });
            }
        });

        submitBtn.addEventListener("click", () =>{
            createSquad.style.display = "none";
            main.style.pointerEvents = "auto";
            main.style.filter = "blur(0px)";

           

            $.ajax({
                url: '@Url.Action("CreateSquad","Squad")',
                traditional: true,
                data: { usersArray: arr, name: squadName.value, }
               
            });
        });


        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7112/SquadHub")
            .build();
        connection.start().then(() => {

        @foreach (var item in Model)
        {
            @:connection.invoke('JoinGroup', '@item.Id.ToString()');
        }

                    })
            .catch(err => alert(err.toString()));




        connection.on("ReceiveMessage", (squad, message, time) => {
            let result1 = document.getElementsByClassName("message " + squad);
            let result2 = document.getElementsByClassName("messageTime " + squad);
            console.log(result1);
            console.log(result2);
            if (result1.length > 0 && result2.length > 0) {
                result1[0].textContent = message;
                result2[0].textContent = time;
                $(".container2").prepend($("#" + squad));
            }
            else {

            }
        });
        </script>
</body>

</html>
