@model ICollection<MyNamespace.GetSquadsDto>
@{
    ViewData["Title"] = "Squad Page";
    string[] colors = ViewData["Theme"] as string[];
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <style>
        html, body {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            background: @colors[13];
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .container {
            height: 90px;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .container2 {
            width: 1756px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .butt {
            heihgt: 137px;
            width: 250px;
            background: @colors[7];
            border-radius: 20px;
            margin: 0 auto;
            cursor: pointer;
        }

        .chats {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            height: 125px;
            background: @colors[12];
        }

        .field {
            box-sizing: border-box;
            width: 100%;
            height: 1080px;
            max-height: max-content;
            margin: 0 auto;
            margin-top: 30px;
            background: @colors[12];
            border-top-left-radius: 78px;
            border-top-right-radius: 78px;
        }

        .image {
            height: 120px;
            width: 150px;
            margin: 0 auto;
            margin-top: -30px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #chats {
            background-image: url("../img/chatsL.svg");
        }

        #group {
            margin-top: -10px;
            height: 80px;
            width: 110px;
            background-image: url("../img/groupsChosenL.svg");
        }

        #settings {
            margin-top: -5px;
            height: 80px;
            width: 100px;
            background-image: url("../img/settingsL.svg");
        }

        .lock {
            margin: 0 auto;
            margin-left: 32px;
            margin-top: -12px;
            height: 115px;
            width: 145px;
            background-image: url("../img/closedLockL.svg");
            cursor: pointer;
        }

        .add {
            margin: 0 auto;
            margin-right: 63px;
            margin-top: 7px;
            height: 110px;
            width: 100px;
            background-image: url("../img/addL.svg");
            cursor: pointer;
        }

        .chatSearch {
            background: none;
            border: none;
            height: 61px;
            width: 1151px;
            margin-top: 29px;
            box-sizing: border-box;
            background: @colors[14];
            border-radius: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 42px;
            color: @colors[1];
            text-align: center;
        }

            .chatSearch:focus {
                outline: none;
            }

        .chat {
            width: 1756px;
            height: 116px;
            margin: 0 auto;
            margin-top: 30px;
            background: @colors[14];
            border-radius: 20px;
        }

        .avatar {
            width: 80px;
            height: 80px;
            background: @colors[12];
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            margin: 20px auto;
            margin-left: 20px;
        }

        .Name {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 42px;
            margin: auto;
            margin-top: -110px;
            margin-left: 150px;
            color: @colors[1];
            cursor: pointer;
        }

        .messageTime {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: @colors[1];
            margin: auto;
            margin-top: -35px;
            margin-left: 1650px;
            cursor: pointer;
        }

        .message {
            width: 1506px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            color: @colors[1];
            margin: auto;
            margin-top: 15px;
            margin-left: 150px;
            overflow: hidden;
            cursor: pointer;
        }

    </style>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/ChatsAdaptive.css" />
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body onselectstart="return false">
    <div class="container">
        <div class="butt" onclick="window.location='./Chats'"><div class="image" id="chats"></div></div>
        <div class="butt chats"><div class="image" id="group"></div></div>
        <div class="butt" onclick="window.location='./Settings'"><div class="image" id="settings"></div></div>
    </div>

    <div class="field">
        <div class="container">
            <div class="image lock"></div>
            <input class="chatSearch"></input>
            <div class="image add"></div>
        </div>

        <div class="container2">
            @if (Model != null)
            {
                @foreach (var squad in Model)
                {
                    <div class="chat" id="@squad.Id">
                        <img class="avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(squad.Avatar))" />
                        <div class="Name " onclick="window.location='../Squad/Main/@squad.Id.ToString()';">@squad.Name</div>
                        <div class="messageTime @squad.Id" onclick="window.location='../Squad/Main/@squad.Id.ToString()';">@squad.MessageTime.ToLocalTime().ToShortTimeString()</div>
                        <div class="message @squad.Id" onclick="window.location='../Squad/Main/@squad.Id.ToString()';">@squad.Message</div>
                    </div>
                }
            }

        </div>
    </div>
    <script>
        "use strict";
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7112/SquadHub")
            .build();
        connection.start().then(() => {

        @foreach (var item in Model)
        {
            @:connection.invoke('JoinGroup', '@item.Id.ToString()');
        }

                    })
            .catch(err => alert(err.toString()));




        connection.on("ReceiveMessage", (squad, message, time) => {
            let result1 = document.getElementsByClassName("message " + squad);
            let result2 = document.getElementsByClassName("messageTime " + squad);
            console.log(result1);
            console.log(result2);
            if (result1.length > 0 && result2.length > 0) {
                result1[0].textContent = message;
                result2[0].textContent = time;
                $(".container2").prepend($("#" + squad));
            }
            else {

            }
        });
        </script>
</body>

</html>
